{{ define "main" }}

<section class="hero-area">
    <div class="container text-center">
        <h1 class="text-white">{{ .Title }}</h1>
    </div>
</section>

 <section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="single-post">
        
                    <div class="blog_details">
                  
                        {{ .Content }}

                    </div>
                </div>
            </div>

        </div>
    </div>
 </section>

{{ end }}
