{{ define "main" }}
<!-- Header -->
<div class="masthead">
    <div class="overlay">
        <div class="container">
            <div class="intro-text">
                <h1 class="intro-heading text-uppercase">Software Startup Coaching</h1>
                <div class="intro-lead-in">Enabling you to use your software development skills to launch your own
                    successful startup</div>
                <a class="mt-5 btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#software-stats">Tell Me
                    More</a>
            </div>
        </div>
    </div>
</div>


<section class="page-section" id="software-stats" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading text-uppercase">Do you feel you could achieve more with your coding skills?</h3>
                <hr />
                <p class="lead"><mark><b>Chances are you are probably right.</b></mark></p>
            </div>
        </div>

        <div class="row">

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-invoice-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h5 class="service-heading">6 on the top 10 rich list made their money through software</h5>
                    <p>Bill Gates, Mark Zuckerberg and Jeff Bezos all started out as coders. Some of them became
                        billionaires in under 5 years!!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h5 class="service-heading">There are 5 jobs for every 1 available software developer</h5>
                    <p>There's a reason your skills are in such high demand. Used correctly they can create large
                        profits for companies.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud-download-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h5 class="service-heading">The software market was worth $466.8 billion U.S. Dollars in 2019</h5>
                    <p>That's a huge market for software developers to tap into. Even launching in a tiny niche could
                        generate millions in business.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="" id="held-back"  style="padding-top: 100px;">
    <div class="row mb-5">
        <div class="col-lg-12 text-center">
            <h3 class="section-heading text-uppercase">So what's holding you back?</h3>
            <hr class="col-md-4"/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <img src="img/startup-coaching-dream-big.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7">


            <div class="feature-description col-md-pull-3">

                <!-- feature-left -->
                <div class="feature-left">
                    <p><i class="far fa-check-square"></i> You can build mobile apps but you don't know how to turn it into a business?</p>
                </div>
                <!-- /.feature-left -->
                <!-- feature-left -->
                <div class="feature-left">
   
                        <p><i class="far fa-check-square"></i> You are a front end developer but lack a product to sell?</p>

                    </div>
                <!-- /.feature-left -->
                <!-- feature-left -->
                <div class="feature-left">
    
                        <p><i class="far fa-check-square"></i> You can knock out backend code but all your time has left through the back door?</p>
                </div>
                <div class="feature-left">
 
                        <p><i class="far fa-check-square"></i> You are a full stack developer but not full of ideas?</p>
                </div>
                <div class="feature-left">

                        <p><i class="far fa-check-square"></i> You feel you need a team to take care of sales and marketing?</p>
                </div>
                <div class="feature-left">

                    <p><i class="far fa-check-square"></i> You don't have experience raising or managing finances?</p>
                </div>
                <div class="feature-left">

                    <p><i class="far fa-check-square"></i> You don't know the first thing about setting up a business?</p>
                </div>
                <!-- /.feature-left -->
                <p><b>You have tried but just can't seem to make it work!</b></p>
                <div class="lead text">

                    <p class="call-out"><mark><b>Help is at hand</b></mark></p>
                </div>
            </div>

        </div>


    </div>
</section>



<section class="page-section bg-dark text-white">

    <div class="container">
        <div class="row">
            <div class=" mb-3">
                <h3 class="mb-4 text-center">I can coach you on how to start your software business</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <iframe class="w-100 h-100" width="560" height="315" src="https://www.youtube.com/embed/DnR6vNcXq1s?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;rel=0&amp;modestbranding=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 text-white">
                <p><b>Hi, I'm Andre and I am a software startup coach</b></p>
                <p>I've been developing software for over 20 years and started my own digital agency 10 years ago. In that time I've had the opportunity to work with dozens of companies ranging from startups to big corporations.
                    Although the software projects were a success, many of the startups I worked with went on to fail. Feeling uneasy about seeing so many dreams shattered, I dedicated myself to understanding how to better help individuals bootstrap and grow a startup successfully. I now cover all aspects from mindset, to marketing and finances.
                </p>
                 <p>  I coach on how to <b>build and grow a profitable software business starting from scratch.</b></p>
            </div>
        </div>
    </div>
</section>


{{- partial "startup-coaching-section.html" . -}}



<!-- CTA -->
<section class="page-section cta text-white">
    <div class="overlay">
        <div class="container">
            <h2 class="text-center">Getting started is free. There is no commitment</h2>
            <br />
            <h2>Stop coding.<br>Start building.</h2>
            <a href="/business-plan-failure-101" class="btn btn-primary btn-xl js-scroll-trigger mt-4">Get Free Training Now!</a>
        </div>
    </div>
</section>


{{- partial "recent-posts-section.html" . -}}

{{- partial "previous-clients-section.html" . -}}

{{ end }}