<footer class="footer-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <img src="/favicon-96x96.png" class="attachment-large size-large" alt="Andre Barrett Small Logo">

                <h4>Software startup coaching and mentoring</h4>
            </div>

            <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget ml-auto">
                <h4>Menu</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/business-plan-failure-101">Free Training</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4>Social Media</h4>
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/andrebarretttv"><i class="fab fa-facebook-f"></i> Facebook</a>
                    </li>
                    <li><a href="https://www.twitter.com/andrebarretttv"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="https://www.youtube.com/andrebarretttv"><i class="fab fa-youtube"></i> Youtube</a></li>
                    <li><a href="https://www.linkedin.com/in/andrebarretttv"><i class="fab fa-linkedin-in"></i>
                            LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom row">
            <p class="footer-text m-0 col-lg-8 col-md-12"><span class="copyright">Copyright &copy; Andre Barrett
                    <script>document.write(new Date().getFullYear());</script></span>
            </p>
                <nav>
                    <ul id="menu-terms-navigation" class="nav">
                        <li class="menu-item pr-3"><a title="Terms of Service"
                                href="/terms-of-service">Terms of
                                Service</a></li>
                        <li class="menu-item"><a title="Privacy Policy"
                                 href="/privacy-policy">Privacy Policy</a>
                        </li>
                    </ul>
                </nav>
        </div>
    </div>
</footer>