<footer id="sticky-footer" class="footer-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <img src="/img/logos/software-startup-academy-logo.png" class="img-fluid" alt="Andre Barrett Logo">

                <h4>Software startup coaching and mentoring</h4>
            </div>
            <div class="col-lg-9 col-sm-6">
                <p class="text-white-50">
                    This site is not a part of the YouTube, Google or Facebook website; Google Inc or Facebook Inc. Additionally, This site is NOT endorsed by YouTube, Google or Facebook in any way. FACEBOOK is a trademark of FACEBOOK, Inc. YOUTUBE is a trademark of GOOGLE Inc.
                </p>
            </div>
        </div>
        <div class="footer-bottom row">
            <p class="footer-text m-0 col-lg-8 col-md-12"><span class="copyright">Copyright © Andre Barrett
                    <script>document.write(new Date().getFullYear());</script></span>
            </p>
                <nav>
                    <ul id="menu-terms-navigation" class="nav">
                        <li class="menu-item pr-3"><a title="Terms of Service" target="_blank" rel="noopener noreferrer" href="/terms-of-service">Terms of
                                Service</a></li>
                        <li class="menu-item"><a title="Privacy Policy" target="_blank" rel="noopener noreferrer" href="/privacy-policy">Privacy Policy</a>
                        </li>
                    </ul>
                </nav>
        </div>
    </div>
</footer>
