<div
    class="tve-leads-slide-in tve-tl-anim tve-leads-track-slide_in-14 tl-anim-slide_right tl_bot_right tve-leads-triggered">
    <div class="tl-style" id="tve_tcb2_fading-image-1-step" data-state="14" data-form-state="">
        <style type="text/css" class="tve_custom_style">
            @media (min-width: 300px) {
                [data-css="tve-u-05f6bbc15d6b16"] {
                    overflow: hidden;
                    background-color: rgba(255, 255, 255, 0) !important;
                    padding: 1px !important;
                    max-width: 644px !important;
                    border-bottom-right-radius: 77px !important;
                    --tve-applied-background-color: rgba(255, 255, 255, 0) !important;
                    margin-top: 232px !important;
                    margin-left: 724px !important;
                }

                [data-css="tve-u-15f6bbc15d6b1a"] {
                    font-size: 20px;
                    width: 20px;
                    height: 20px;
                    top: 0px;
                    right: 0px;
                    position: absolute;
                    z-index: 8;
                    margin-top: 0px !important;
                    margin-bottom: 0px !important;
                    padding: 10px !important;
                    background-color: rgba(0, 0, 0, 0.07) !important;
                }

                [data-css="tve-u-45f6bbc15d6b1e"] strong {
                    font-weight: 700;
                }

                [data-css="tve-u-25f6bbc15d6b1c"] {
                    border-radius: 0px 0px 70px;
                    overflow: hidden;
                    z-index: 3;
                    padding: 0px 0px 0px 50px !important;
                    margin-bottom: 0px !important;
                    margin-top: 30px !important;
                }

                [data-css="tve-u-35f6bbc15d6b1d"] {
                    clip-path: url("#clip-bottom-withmw2jovpqu");
                    background-color: rgba(255, 255, 255, 0) !important;
                    --tve-applied-background-color: rgba(255, 255, 255, 0) !important;
                }

                [data-css="tve-u-45f6bbc15d6b1e"] {
                    max-width: 750px;
                    min-height: 1px !important;
                }

                [data-css="tve-u-55f6bbc15d6b22"] {
                    width: 363px;
                }
            }

            @media (max-width: 1023px) {
                [data-css="tve-u-05f6bbc15d6b16"] {
                    margin-left: 71px !important;
                    max-width: 680px !important;
                }
            }

            @media (max-width: 767px) {
                [data-css="tve-u-15f6bbc15d6b1a"] {
                    font-size: 14px;
                    width: 14px;
                    height: 14px;
                    padding: 8px !important;
                }

                [data-css="tve-u-25f6bbc15d6b1c"] {
                    padding-left: 25px !important;
                    padding-top: 0px !important;
                }
            }
        </style>
        <div class="tve-leads-conversion-object" data-tl-type="slide_in">
            <div class="tve_flt">
                <div id="tve_editor" class="tve_shortcode_editor">
                    <div class="thrv-leads-slide-in tve_no_drag tve_no_icons thrv_wrapper tve_editor_main_content tve_empty_dropzone"
                        data-css="tve-u-05f6bbc15d6b16" style="">
                        <div class="thrv_wrapper thrv_icon tcb-icon-display tve_evt_manager_listen tve_et_click tve_ea_thrive_leads_form_close"
                            data-css="tve-u-15f6bbc15d6b1a"
                            data-tcb-events="__TCB_EVENT_[{&quot;a&quot;:&quot;thrive_leads_form_close&quot;,&quot;t&quot;:&quot;click&quot;}]_TNEVE_BCT__"
                            data-float="1"><svg class="tcb-icon" viewBox="0 0 30 32" data-name="close">
                                <path d="M0.655 2.801l1.257-1.257 27.655 27.655-1.257 1.257-27.655-27.655z"></path>
                                <path d="M28.31 1.543l1.257 1.257-27.655 27.655-1.257-1.257 27.655-27.655z"></path>
                            </svg></div>
                        <div class="thrv_wrapper thrv-page-section safari-ios-decoration-fix"
                            data-css="tve-u-25f6bbc15d6b1c" style="">
                            <div class="tve-page-section-out" data-css="tve-u-35f6bbc15d6b1d"
                                data-clip-id="withmw2jovpqu" style=""><svg width="0" height="0"
                                    class="tve-decoration-svg">
                                    <defs>
                                        <clipPath id="clip-bottom-withmw2jovpqu"
                                            class="decoration-clip clip-path-bottom" clipPathUnits="objectBoundingBox"
                                            data-screen="" decoration-type="none" pointer-width="5" pointer-height="5"
                                            style="zigzag" clip-path="url(#clip-left-withmw2jovpqu)">
                                            <polygon points="0 0, 0 1, 1 1, 1 0"></polygon>
                                        </clipPath>
                                        <clipPath id="clip-left-withmw2jovpqu" class="decoration-clip clip-path-left"
                                            clipPathUnits="objectBoundingBox" data-screen="" pointer-width="1"
                                            pointer-height="76" style="curves" decoration-type="none">
                                            <polygon points="0 0, 0 1, 1 1, 1 0"></polygon>
                                            <ellipse cx="0.76" cy="0.00475" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.014249999999999999" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.02375" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.03325" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.042749999999999996" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.05225" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.06175" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.07125" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.08075" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.09025" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.09974999999999999" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.10925" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.11875" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.12825" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.13774999999999998" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.14725" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.15675" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.16625" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.17575" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.18525" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.19475" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.20425" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.21375" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.22325" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.23274999999999998" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.24225" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.25175" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.26125" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.27075" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.28025" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.28975" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.29925" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.30874999999999997" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.31825" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.32775" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.33725" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.34675" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.35625" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.36574999999999996" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.37525" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.38475" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.39425" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.40375" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.41325" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.42275" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.43224999999999997" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.44175" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.45125" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.46075" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.47025" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.47975" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.48924999999999996" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.49874999999999997" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.50825" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.5177499999999999" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.52725" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.53675" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.54625" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.55575" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.56525" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.57475" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.5842499999999999" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.59375" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.60325" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.61275" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.62225" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.63175" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.64125" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.6507499999999999" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.66025" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.66975" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.67925" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.68875" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.69825" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.70775" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.7172499999999999" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.72675" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.73625" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.74575" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.75525" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.7647499999999999" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.77425" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.78375" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.79325" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.80275" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.81225" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.82175" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.8312499999999999" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.84075" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.85025" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.85975" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.86925" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.87875" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.88825" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.8977499999999999" rx="0.76" ry="0.004750">
                                            </ellipse>
                                            <ellipse cx="0.76" cy="0.90725" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.91675" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.92625" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.93575" rx="0.76" ry="0.004750"></ellipse>
                                            <ellipse cx="0.76" cy="0.9452499999999999" rx="0.76" ry="0.004750">
                                            </ellipse>
                                        </clipPath>
                                    </defs>
                                </svg></div>
                            <div class="tve-page-section-in tve_empty_dropzone" data-css="tve-u-45f6bbc15d6b1e">
                                <div class="thrv_wrapper tve_image_caption" data-css="tve-u-55f6bbc15d6b22" style="">
                                    <span class="tve_image_frame"><a
                                            href="https://frankkern.com/adclass/?utm_source=homepage&amp;utm_medium=popup&amp;utm_campaign=homepage"
                                            target="_blank"><img class="tve_image wp-image-1718" alt="" data-id="1718"
                                                width="363" data-init-width="940" height="304" data-init-height="788"
                                                title="Frank Kern (1)" loading="lazy"
                                                src="https://2vkwmk3jbw1b4bccan18qetm-wpengine.netdna-ssl.com/wp-content/uploads/2020/07/Frank-Kern-1.png"
                                                data-width="363" data-height="304" style=""
                                                data-css="tve-u-65f6bbc15d6b23" data-link-wrap="true"></a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>