
<!-- Clients -->
<section class="page-section" style="display: none;">
    <div class="container">

        <div class="row">
            <div class="text-center mb-3">
                <h3 class="mb-4">Previous clients</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 my-auto">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="/img/logos/sky-logo.png" alt="Sky Logo">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 my-auto">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="/img/logos/gamesys-logo.png" alt="Gamesys Logo">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 my-auto">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="/img/logos/sainsburys-logo.png" alt="Sainsburys Logo">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 my-auto">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="/img/logos/kindred-logo.jpg" alt="Kindred Logo">
                </a>
            </div>
        </div>
    </div>
</section>