<section class="page-section bg-light" id="startup-coaching-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">How can software startup coaching help?</h2>
            </div>
        </div>
        <div class="row mb-5">
      
            <div class="col-sm-6">
                <p class="mb-4">As software engineers we are blessed with seeing the world in a logical way.
                
                    Given a problem we relish the challenge of coming up with an elegant solution.
                    
                    We interact with computers as if they were our best friends and we prefer to talk through instant messaging applications as if the keyboard was our mouth piece.
                    
                    Unfortunately this way of thinking doesn't allow us to do one important thing:

                </p>
                <blockquote class="blockquote">
                    <p class="lead font-italic">
                        <b>Run a profitable business!</b>
                    </p>
                </blockquote>
                
                    <p>

                    A business is based around managing resources which we were never shown how to do.
                    
                    A huge part is also dealing with people who can be highly irrational i.e the opposite of the logical tasks we deal with on a regular basis.
                    </p>
              </div>

            <div class="col-sm-6 aos-init aos-animate" data-aos="fade-right">
                <img src="img/mobile-app-development-coaching.jpg" alt="Image" class="img-fluid">
            </div>
        </div>
        <div class="row mb-5">

            <div class="col-sm-6 aos-init aos-animate" data-aos="fade-right">
                <img src="img/startup-coaching-business.jpg" alt="Image" class="img-fluid">
            </div>

            <div class="col-sm-6">
                <p class="mb-4">You've noticed the pattern, individuals who couldn't produce an algorithm if the instructions said just add hot water here. Yet they float around as managers, get promoted faster, and are given the power to make terrible decisions. They get paid to be in meetings all day long of which the outcome is the decision to have another meeting.
                </p>
                <p class="mb-4">Have you ever asked yourself the question, why are they my managers?
                </p>
              </div>

        </div>
    </div>
</section>

<div class="statement-area">
    <div class="container py-5 bg-info text-white">
        <blockquote class="">
            <h4>As a software startup coach I assist you to bootstrap your business through</h4>
            <ul>
                <li class="lead">deep insights (diagnostics) of your current situation and why you are still there</li>
                <li class="lead">transformation turning you from a regular coder to a business machine</li>
                <li class="lead">leaving you with practical actions and tools that increase your business effectiveness</li>
            </ul> 

        </blockquote>
    </div>
</div>
<section>
    <div class="container">
        <div class="row mb-4">
            <h3 class="">Software startup coaching is for you if:</h3>

        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="single-defination">
              <h5 class="mb-20">You code for a living and want to take yourself further in business</h5>
              <p>Let's face it you enjoy coding but you know deep down that your skills could be used to achieve more for yourself</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-defination">
              <h5 class="mb-20">You are not progressing as fast as you would like in your software career and looking for a shortcut</h5>
              <p>Your progress is limited by your peers and your boss. Should you be letting them dictate how successful you can become?</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-defination">
              <h5 class="mb-20">You are wondering how to make more money from your coding skills</h5>
              <p>Does seeing entrepreneurs become wealthy from starting out as regular coders make you think you could do it too?</p>
            </div>
          </div>
        </div>
      </div>
</section>