<section class="page-section testimonial-wrap bg-light" id="testimonials-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-heading text-uppercase mb-3">Testimonials</h2>
        </div>
      </div>
    </div>
    <div class="slide-one-item home-slider owl-carousel">
        <div>
          <div class="testimonial">
            <figure class="mb-4 d-block align-items-center justify-content-center">
              <div><img src="img/person_3.jpg" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
            </figure>
            <blockquote class="mb-3">
              <p>&ldquo;Andre has been a massive help to my learning in the last few months. I started out on iOS knowing only what was common in all coding languages. With his mentorship I have come to understand a great deal more about the coding principles and the best development techniques; which have led me to pursue my dreams of building my own apps. So thank you Andre for teaching me so much, I don't think I would be have been able to do half the things I can now without your help and motivation. &rdquo;</p>
            </blockquote>
            <p class="text-black"><strong>Rebecca Halford</strong></p>

            
          </div>
        </div>
        <div>
          <div class="testimonial">
            
            <figure class="mb-4 d-block align-items-center justify-content-center">
              <div><img src="/img/mirette.jpg" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
            </figure>

            <blockquote class="mb-3">
              <p>&ldquo;I had the pleasure working with Andre in Sainsbury's on the iOS Groceries app for 6 months. Andre was a mentor to the junior engineers on the team, and he was my go to developer when I had a complex problem to implement. I was impressed with Andre's dedication and passion towards test driven development and best software engineering practices.&rdquo;</p>
            </blockquote>
            
            <p class="text-black"><strong>Mirette Bastaurous</strong></p>
            
            
          </div>
        </div>

        <div>
          <div class="testimonial">
            <figure class="mb-4 d-block align-items-center justify-content-center">
              <div><img src="img/person_4.jpg" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
            </figure>
            <blockquote class="mb-3">
              <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
            </blockquote>
            <p class="text-black"><strong>Roger Spears</strong></p>

            
          </div>
         
        </div>

        <div>
          <div class="testimonial">
            <figure class="mb-4 d-block align-items-center justify-content-center">
              <div><img src="img/person_1.jpg" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
            </figure>
            <blockquote class="mb-3">
              <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
            </blockquote>
            <p class="text-black"><strong>Kyle McDonald</strong></p>

            
          </div>

        </div>

    </div>
</section>